body{
    background-image: url("./img/undraw_doctors_hwty.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  /* .panel-primary{
      margin: 100px;
  } */
.btn{
    
}